<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body>
        <div class="container" th:object="${post}">
            <div th:replace="fragments/bodyHeader :: bodyHeader" />

            <h1 style="text-align: center" th:text="${post.title}"></h1>

            <div class="form-group">
                <label th:for="writer">Writer</label>
                <input type="text" th:field="*{writer}" class="form-control" th:value="${post.writer}"
                       disabled>
            </div>
            <div class="form-group">
                <label th:for="createdDateTime">Created at:</label>
                <input type="text" th:field="*{createdDateTime}" class="form-control" th:value="${#temporals.format(post.createdDateTime, 'MM-dd-yy HH:mm')}"
                       disabled>
            </div>
            <div class="form-group">
                <label th:for="content">Content</label>
                <textarea style="resize:none" th:field="*{content}" class="form-control" th:value="${post.content}" rows="8" cols="40" readonly
                       disabled />
            </div>

            <div th:if="${post.images.size() > 0}">
                <img class="img-fluid center-block" th:each="image : ${post.images}" th:src="@{img/{imgName}(imgName = ${image.imgName})}" th:alt="${image.imgOriginalName}">
            </div>

            <div style="margin-bottom: 40px" class="row justify-content-center">
                <a th:if="${user == post.writer}" style="margin-right: 20px" class="btn btn-primary" th:href="@{/modifyPost(id=${post.id})}">Modify</a>
                <a th:if="${user == post.writer}" style="margin-right: 20px" th:href="'javascript:deletePost('+${post.id}+')'" class="btn btn-danger">DELETE</a>
                <a class="btn btn-primary" th:href="@{/}">Go Back</a>
            </div>

            <form th:action="@{/addComment(postId=${post.id})}" method="post">
                <div class="form-group" th:object="${commentDTO}">
                    <label>Comments</label>
                    <textarea style="resize:none" th:field="*{content}" class="form-control"  rows="4" cols="40"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}">Can't be empty or more than 200 characters.</p>
                    <div style="margin-top: 10px" class="text-center">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>

            <!-- Show comments -->
            <table class="table" th:if="${comments != null && comments.size() > 0}">
                <tr th:each="comment : ${comments}">
                    <td style="border-bottom: black 1px solid">
                        <div>
                            <h4 style="color: #007bff" th:text="${comment.writer}"></h4>
                            <p th:text="${comment.content}"></p>
                            <h6 style="color: #6c757d" th:text="${#temporals.format(comment.createdDateTime, 'MM-dd-yy HH:mm')}"></h6>
                        </div>
                    <td>
                        <a th:if="${user == comment.writer}" th:href="'javascript:deleteComment('+${comment.id}+')'" class="btn btn-danger">DELETE</a>
                    </td>
                    </td>
                </tr>
            </table>

            <div th:replace="fragments/footer :: footer" />
        </div> <!-- /container -->
    </body>
    <script>
        function deletePost(id) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/deletePost?postId=" + id);
            document.body.appendChild(form);
            form.submit();
        }

        function deleteComment(id) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/deleteComment?commentId=" + id);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</html>